*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
x64/
x86/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
*.[Cc]ache  
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
/logs/
debug/
.vs/graph-traversal/v17/Browse.VC.opendb